<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppMenuTrue</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AcessoController</display-name>
    <servlet-name>AcessoController</servlet-name>
    <servlet-class>controle.AcessoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcessoController</servlet-name>
    <url-pattern>/AcessoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppController</display-name>
    <servlet-name>AppController</servlet-name>
    <servlet-class>controle.AppController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppController</servlet-name>
    <url-pattern>/AppController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefController</display-name>
    <servlet-name>ChefController</servlet-name>
    <servlet-class>controle.ChefController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefController</servlet-name>
    <url-pattern>/ChefController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MassaController</display-name>
    <servlet-name>MassaController</servlet-name>
    <servlet-class>controle.MassaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassaController</servlet-name>
    <url-pattern>/MassaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaudaveisController</display-name>
    <servlet-name>SaudaveisController</servlet-name>
    <servlet-class>controle.SaudaveisController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaudaveisController</servlet-name>
    <url-pattern>/SaudaveisController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SobremesaController</display-name>
    <servlet-name>SobremesaController</servlet-name>
    <servlet-class>controle.SobremesaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SobremesaController</servlet-name>
    <url-pattern>/SobremesaController</url-pattern>
  </servlet-mapping>
</web-app>